body {
    background-image: url("src/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    width: 900px;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;

}

.menu {
    height: 30px;
    padding: 10px;
    background-color: #7a7af8;

}

.menu a {
    color: wheat;
}


.main-img {
    background-image: url("src/images/watch.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 50px;
    color: white;
    opacity: 0.4;
}

table {
    width: 100%;
}

td img {
    width: 250px;
    height: 240px;

}

td h5 {
    margin: 0px;
    padding: 0px;
}